.pantry-shelf {
	box-sizing: border-box;
	font-family: var(--font);
	@apply w-full rounded-sm p-1;
	padding-left: var(--pantry-indent-size, 1rem);

	.header {
		@apply flex items-center;
		margin-left: calc(-1 * var(--pantry-indent-size, 1rem));
		cam-icon::part(icon) {
			font-size: 1rem;
			margin-right: 0.5rem;
		}

		label {
			@apply flex font-light;
			text-transform: uppercase;
			opacity: 0.5;
			letter-spacing: 0.2rem;
		}
	}
}