@import '../css/mixins.css';

.pantry-shelf {
	box-sizing: border-box;
	font-family: var(--font);
	@mixin wh 100%, auto;
	padding: 0.25rem;
	padding-left: var(--pantry-indent-size, 1rem);

	.header {
		@mixin flexy left, center;
		margin-left: calc(-1 * var(--pantry-indent-size, 1rem));
		cam-icon::part(icon) {
			font-size: 1rem;
			margin-right: 0.5rem;
		}

		label {
			display: flex;
			font-weight: light;
			text-transform: uppercase;
			opacity: 0.5;
			letter-spacing: 0.2rem;
		}
	}
}