@import './css/mixins.css';

.app-ingredient {
  @mixin flexy space-between, center;
  border-bottom: 1px solid rgba(var(--app-text-color, white), 0.1);
  grid-template-columns: 100% auto;

  &.inline {
    @mixin flexy;
    display: inline-flex;
    margin: 0;
    border: 0;
  }

  app-icon:first-of-type {
    display: inline-flex;
  }

  & > app-icon:last-child {
    border-radius: 1rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}

span {
  display: block;
}

.info {
  display: inline-flex;
}
