:host {
	display: grid;
	grid-template-rows: auto 1fr;
}

header {
	height: 4rem;
	font-family: var(--font, sans-serif);
	background: rgba(var(--app-background-color, 0, 0, 0), 0.97);
	nav {
		@apply flex justify-around;
	}
}

main {
	height: calc(100vh - 4rem);
	background: rgba(var(--app-background-color, 0, 0, 0), 1);
}