article.recipe {
	font-family: var(--font);
	@apply h-full grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		'h i'
		'm i';
}

article.recipe > section.header {
	grid-area: h;
	padding: 8px 32px;
	background: rgba(var(--app-background-color, 0, 0, 0), 1);
}

article.recipe > section.ingredients {
	grid-area: i;
	padding: 8px 32px;
	min-width: 300px;
	background: rgba(var(--app-background-color, 0, 0, 0), 0.97);

	ul {
		padding: 0;
		li {
			list-style: none;
		}
	}
}

article.recipe > section.method {
	grid-area: m;
	padding: 8px 32px;
	background: rgba(var(--app-background-color, 0, 0, 0), 1);
}

blockquote.banner {
	@apply m-0 p-1 border border-solid rounded-lg;
	border-color: rgba(var(--app-warn-color, 255, 255, 0), 1);
	background: rgba(var(--app-warn-color, 255, 255, 0), 0.2);

	button {
		@apply border-0 ml-4 rounded-lg;
		padding: 0.5rem 1rem;
		background: rgba(var(--app-background-color, 0, 0, 0), 1);
		color: rgba(var(--app-text-color, 0, 0, 0), 1);
	}
}