.app-ingredient {
	@apply flex justify-between mt-4 border;
	border-bottom: 1px solid rgba(var(--app-text-color, white), 0.1);
	grid-template-columns: 100% auto;

	&.inline {
		@apply inline-flex m-0 border-0;
	}

	& > app-icon:last-child {
		@apply rounded-lg;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

span {
	@apply block pr-2;
}

.info {
	@apply inline-flex;
}

/* @apply rounded-md; */
app-icon:first-of-type {
	display: inline-flex;
}

app-icon:last-child {
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}